/* location  */
/* .location-box {
  max-width: 350px;
  padding: 20px;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.option {
  display: block;
  margin: 12px 0;
  font-size: 16px;
  cursor: pointer;
}

.address-input {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

.info-text {
  margin-top: 10px;
  color: #27ae60;
  font-size: 14px;
} */
/* end here */
/* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #d2ead0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  justify-content: space-between;
  border-radius: 5px;


}

.logo {
  width: 60px;
  
  height: 60px;
  margin-right: 20px;
  border: 2px groove #77c150;
    border-radius: 50%;
  ;
}
a{
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px ;
    
}

a:hover {
    background-color: #333;
    color: #fff;
}
input[type="search"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 100%;
}